---
http_interactions:
- request:
    method: get
    uri: http://reuters.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://www.reuters.com/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jan 2016 10:50:51 GMT
- request:
    method: get
    uri: http://www.reuters.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Updatedl:
      - Tue, 05 Jan 2016 10:41:14 GMT
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!--[if !IE]> This has been served from cache <![endif]-->\n<!--[if
        !IE]> Request served from apache server: S264630NJ2XSF14 <![endif]-->\n<!--[if
        !IE]> Cached on Tue, 05 Jan 2016 10:46:40 GMT and will expire on Tue, 05 Jan
        2016 10:51:20 GMT <![endif]-->\n<!--[if !IE]> token: 156fc293-fce6-4d5a-9601-280d7c11f869
        <![endif]-->\n<!--[if !IE]> Prepopulated from the cache-server <![endif]-->\n<!--[if
        !IE]> App Server /S264630NJ2XSF51/ <![endif]-->\n\n\n<!DOCTYPE html PUBLIC
        \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\n    \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n\n<head>\n\n<script language=\"javascript\"
        type=\"text/javascript\" src=\"http://www.reuters.com/reuters_bootstrap.js\"></script>\n<script
        language=\"javascript\" type=\"text/javascript\" src=\"http://www.reuters.com/reuters_gpt_bootstrap.js\"></script>\n
        \n<!-- AdBlock Plus Begin-->\n<script type=\"text/javascript\">var abp;</script>\n<script
        type=\"text/javascript\" src=\"http://s4.reutersmedia.net/resources_v2/js/px.js?ch=1\"></script>\n<script
        type=\"text/javascript\" src=\"http://s4.reutersmedia.net/resources_v2/js/px.js?ch=2\"></script>\n<!--
        AdBlock Plus End-->\n\n\n<script language=\"javascript\">\n  var parallelMediaHosts
        = new Array();\n\n\tparallelMediaHosts.push(\"s1.reutersmedia.net\");\n\n\tparallelMediaHosts.push(\"s2.reutersmedia.net\");\n\n\tparallelMediaHosts.push(\"s3.reutersmedia.net\");\n\n\tparallelMediaHosts.push(\"s4.reutersmedia.net\");\n</script>\n\n<meta
        name=\"viewport\" content=\"width=device-width\">\n<META name='DCSext.DartZone'
        content='us.reuters/home'>\n\n\n<title>Business & Financial News, Breaking
        US & International News | Reuters.com</title>\n\t\t<meta id=\"MetaDescription\"
        name=\"description\" content=\"Reuters.com brings you the latest news from
        around the world, covering breaking news in business, politics, entertainment,
        technology, and more in video and pictures.\"></meta>\n\t\t<meta id=\"MetaKeywords\"
        name=\"keywords\" content=\"Breaking News, World News, Video news, Investing,
        financial information,  Business News, Rueters, Roiters\">\n\n\n<link rel=\"canonical\"
        href=\"http://www.reuters.com/\" />\n<link rel=\"alternate\" media=\"only
        screen and (max-width: 640px)\" href=\"http://mobile.reuters.com\" />\n\t\t<!--
        Home page: / -->\n<script type=\"application/ld+json\">\n      {\n        \"@context\":
        \"http://schema.org\",\n        \"@type\": \"WebPage\",\n        \"headline\":
        \"Business & Financial News, Breaking US & International News\",\n        \"url\":
        \"http://www.reuters.com/\",\n        \"thumbnailUrl\": \"\",\n        \"dateCreated\":
        \"\",\n        \"articleSection\": \"Home - Landing\",\n        \"creator\":
        [],\n        \"keywords\": [\"Breaking News\",\" World News\",\" Video news\",\"
        Investing\",\" financial information\",\"  Business News\",\" Rueters\",\"
        Roiters\",\"Homepage\"] \n      }\n</script>\n\t\t<link rel=\"shortcut icon\"
        href=\"http://s3.reutersmedia.net/resources/images/favicon.ico\" />\n  <link
        rel=\"icon\" href=\"http://s3.reutersmedia.net/resources/images/favicon.ico\"
        \ />\n  <link href=\"http://s3.reutersmedia.net/resources_v2/css/rcom-main.css\"
        rel=\"stylesheet\" />\n    <style type=\"text/css\">\n #homepageSponsorBand
        .sectionContent .ad\n\t{\n\t\tmargin:0px;\n                text-align:center;\n
        \               float:none;\n                display:block;\n                width:960px;\n\t}\n\n#dd_source{display:none;}\n</style><script
        src=\"http://s3.reutersmedia.net/resources_v2/js/libraries/yui_2_7_0/yahoo/yahoo-min.js\"
        type=\"text/javascript\"></script>\n\t<script src=\"http://s4.reutersmedia.net/resources_v2/js/libraries/yui_2_7_0/[...]
