---
http_interactions:
- request:
    method: get
    uri: https://developer.github.com/v3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Mon, 04 Jan 2016 18:06:12 GMT
      X-Fastly-Request-Id:
      - c09b08d01014662f7da7e5d579fd6ae588315231
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n  <meta http-equiv=\"Content-Language\"
        content=\"en-us\" />\n  <meta http-equiv=\"imagetoolbar\" content=\"false\"
        />\n  <meta name=\"MSSmartTagsPreventParsing\" content=\"true\" />\n  <title>GitHub
        API v3 | GitHub Developer Guide</title>\n  <link rel=\"alternate\" type=\"application/atom+xml\"
        title=\"API Changes\" href=\"/changes.atom\" />\n  <link href=\"/assets/stylesheets/application.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n
        \ <script src=\"/assets/javascripts/application.js\" type=\"text/javascript\"></script>\n
        \ \n</head>\n\n\n<body class=\"api \">\n  \n\n<div id=\"header-wrapper\">\n
        \ <div id=\"header\">\n    <div>\n      <a class=\"logo\" href=\"/\">GitHub:Developer</a>\n
        \     <ul class=\"nav\">\n        <li><a href=\"/v3/\" class=\"nav-api\">API</a></li>\n
        \       <li><a href=\"/program/\" class=\"nav-developers\">Developers</a></li>\n
        \       <li><a href=\"/changes/\" class=\"nav-blog\">Blog</a></li>\n        <li><a
        href=\"https://github.com/contact\">Support</a></li>\n        <li id=\"search-container\">\n
        \         <input type=\"text\" id=\"searchfield\" autocomplete=\"off\" autocorrect=\"off\"
        autocapitalize=\"off\" spellcheck=\"false\" /><label class=\"search-placeholder\">Search</label>\n
        \         <div class=\"cancel-search\"></div>\n          <ul id=\"search-results\">\n\n
        \         </ul>\n        </li>\n      </ul>\n    </div>\n  </div><!-- #header
        -->\n</div><!-- #header-wrapper -->\n\n\n  <div class=\"sub-nav\">\n    <h2><a
        href=\"/v3/\">API</a></h2>\n\n    <ul>\n      <li><a href=\"/v3/\" class=\"active\">Reference</a></li>\n
        \     <li><a href=\"/webhooks/\">Webhooks</a></li>\n      <li><a href=\"/guides/\">Guides</a></li>\n
        \     <li><a href=\"/libraries/\">Libraries</a></li>\n    </ul>\n  </div>\n\n
        \ <div id=\"wrapper\">\n    <div class=\"content\">\n      <h1>\n<a id=\"overview\"
        class=\"anchor\" href=\"#overview\" aria-hidden=\"true\"><span class=\"octicon
        octicon-link\"></span></a>Overview</h1>\n\n<p>This describes the resources
        that make up the official GitHub API v3. If you have any problems or requests
        please contact\n<a href=\"https://github.com/contact?form%5Bsubject%5D=APIv3\">support</a>.</p>\n\n<ul
        id=\"markdown-toc\">\n<li><a href=\"#current-version\" id=\"markdown-toc-current-version\">Current
        Version</a></li>\n<li><a href=\"#schema\" id=\"markdown-toc-schema\">Schema</a></li>\n<li[...]
